:root {
	--primary: blue;
	--background: #FFF0EB;
	--black: #340e09;
	--gray: rgba(0,0,0,0.66);
	--gray-light: rgba(0,0,0,0.2);
	--shadow: 0 1px 8px var(--gray-light);
	--correct: green;
	--error: red;
	--radius: 5px;
}
html {
	background-color: var(--background);
}

body {
	margin: 0;
	line-height: 1.5;
	font-family: -apple-system, system-ui, sans-serif;
}

main {
	max-width: 40em;
	margin: auto;
	padding: 1em 1em 2em;
}
nav p,
nav h4 {
	margin: 0;
}
nav li + li {
	margin-top: 1em;
}
::selection {
	background:rgba(255,255,0,0.5);
}

a {
	color: var(--primary);
}
.big {
	font-size: 1.6em;
	line-height: 1.2;
}

a:hover {
	text-decoration-style: dashed;
	color: black;
}

body > header {
	background: white;
	box-shadow: var(--shadow);
	padding: 1em;
	margin-bottom: 2em;
	position: sticky;
	top: 0;
	z-index: 10;
}
body > header h2 {
	font-size: 1em;
	margin: 0;
}
body > header h2 a {
	text-decoration: none;
	color: inherit;
}

article header {
	margin-bottom: 4em;
}
article header h1 {
	margin: 0;
	font-size: 4em;
	line-height: 1;
}
article iframe {
	width: 100%;
	margin: 2em 0;
}
article h2 {
	font-size: 2em;
	line-height: 1.1;
	margin: 1em 0 .5em;
}
article h3 {
	font-size: 1.6em;
	line-height: 1.2;
	margin: 1em 0 .5em;
}
article h4 {
	font-size: 1.2em;
	line-height: 1.2;
	margin: 1em 0 .5em;
}
article h5 {
	font-size: 1em;
	line-height: 1.2;
	margin: 1em 0 .5em;
}
article li {
	margin: 1em 0;
}
article blockquote {
	color: var(--gray);
	border-left: solid 2px;
	padding-left: 1em;
}
article li::marker {
	font-weight: bold;
	color: var(--gray);
}
article article {
	background: white;
	padding: 2em;
	box-shadow: var(--shadow);
	font-family: Georgia;
	margin: 3em 0;
	font-size: 1.1em;
}
article article h2 {
	margin: 0 0 1em;
	font-weight: normal;
}
hr {
	margin: 4em 0;
	border: none;
	border-top: dotted 4px var(--gray);
}

form {
  	display: grid;
	padding: 2em 0;
}
label {
	display: block;
	font-weight: bold;
}
figure {
	margin: 2em 0;
}
figcaption {
	color: var(--gray);
}
img {
	max-width: 100%;
}

input,
textarea,
button {
  	width: 100%;
  	margin: .5em 0 2em;
	font-size: 1rem;
	font-family: inherit;
	border-radius: var(--radius);
	box-sizing: border-box;
}

input,
textarea {
	border: 1px solid var(--gray);
	padding: .66em;
}

input:focus,
textarea:focus {
	box-shadow: var(--shadow);
}

button {
	border: none;
	background-color: var(--primary);
	color: white;
	border-radius: var(--radius);
	padding: 1em;
	font-weight: bold;
	box-shadow: var(--shadow);
}
button:hover {
	background-color: var(--black);
}
summary {
	padding: 1em;
	cursor: pointer;
	color: var(--primary);
	text-decoration: underline;
	max-width: max-content;
}
summary:hover {
	text-decoration-style: dashed;
	color: black;
}
table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: var(--shadow);
	border: solid 5px white;
}
th {
	text-align: left;
	padding: .5em;
	background: white;
	border: solid 1px var(--gray-light);
}
td {
	border: solid 1px var(--gray-light);
	padding: .5em;
}
dl {
	display: grid;
	grid-template-columns: auto 1fr;
}
dt {
	font-weight: bold;
	grid-column: 1;
	padding: .5em 0;
}
dd {
	margin: 0;
	grid-column: 2;
	padding: .5em 0 .5em 2em;
}
dd + dt,
dd + dt + dd {
	border-top: solid 1px var(--gray-light);
}

@media (max-width: 30em) {
	dl {
		display: block;
	}
	dd {
		border: none !important;
		padding-left: 0;
	}
}

e-validate {
	display: block;
	margin: 3em 0;
}