---
layout: layouts/base.njk
---
<article>
<header>
<h1>{{ title }}</h1>

{{ content | safe }}
</header>

{% set hasCategories = false %}
<nav class="categories">
    <ul>
        {% for page in search.pages("type=category '" + id + "'") %}
        <li>
            <h3>
                <a href="{{ page.url | url }}">
                    {{ page.title | md(true) | safe }}
                </a>
            </h3>

						{% set hasCategories = true %}
        </li>
        {% endfor %}
    </ul>
</nav>

{% set postslist = search.pages("type=exercise '" + id + "'") %}

{% if hasCategories and postslist.length %}
	<hr>
{% endif %}

<nav>
	<ul>
	{% for post in postslist %}
		<li>
			<h3>
				<a href="{{ post.url | url }}">
					{% if post.title %}
						{{ post.title | md(true) | safe }}
					{% else %}
						Sen título
					{% endif %}
				</a>
			</h3>
			{% if post.summary %}
				<p>
					{{ post.summary | md(true) | safe }}
				</p>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
</nav>

</article>