---
layout: layouts/base.njk
---
<article>
<header>
<h1>{{ title }}</h1>

{{ content | safe }}
</header>

{% set postslist = search.pages(filter) %}

<nav>
	<ul>
	{% for post in postslist %}
		<li>
			<h3>
				<a href="{{ post.data.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Sen título
					{% endif %}
				</a>
			</h3>
			{% if post.data.summary %}
				<p>
					{{ post.data.summary }}
				</p>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
</nav>

</article>