---
layout: layouts/base.njk
---

<article>
  <header>
    <h1>{{ title | md(true) | safe }}</h1>
    
    <p class="big">
      {{ summary | md(true) | safe }}
    </p>
  </header>

  {% if show_toc %}
    <nav class="toc">
      <ul>
        {% for item in toc %}
        <li>
          <a href="#{{ item.slug }}">{{ item.text }}</a>
  
          {% if item.children.length %}
          <ul>
            {% for child in item.children %}
            <li>
              <a href="#{{ child.slug }}">{{ child.text }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
    {% endif %}

  {{ content | safe }}
</article>
