---
layout: layouts/base.njk
---

{{ content | safe }}

<nav>
    <ul>
        {% for cat in search.pages("type=category tags.length=0") | reverse %}
        <li>
            <h3>
                <a href="{{ cat.data.url | url }}">
                    {{ cat.data.title }}
                </a>
            </h3>
            {{ cat.data.content | safe }}
        </li>
        {% endfor %}
    </ul>
</nav>