---
layout: layouts/base.njk
---

{{ layoutContent | safe }}

<nav>
    <ul>
        {% for cat in collections.category %}
        <li>
            <h3>
                <a href="{{ cat.url | url }}">
                    {{ cat.data.title }}
                </a>
            </h3>
            {{ cat.data.content | safe }}
        </li>
        {% endfor %}
    </ul>
</nav>